#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SPECCHIO Backup Tool
Comment=Starts the SPECCHIO Java Client
Exec=/usr/local/bin/specchio_backup_tool.sh
Path=/home/specchio/Desktop
Icon=/usr/share/icons/gnome/256x256/apps/system-software-update.png
Terminal=false
Type=Application
