#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SPECCHIO Java Client
Comment=Starts the SPECCHIO Java Client
Exec={{ specchio_client_directory }}/run_specchio_client.sh
Path={{ specchio_client_directory }}
Icon={{ specchio_client_directory }}/SPECCHIO_Icon_Mid_Res_small.jpg
Terminal=false
Type=Application
